20220314_python_관련/설치파일/Git-2.35.1.2-64-bit.exe
20220314_python_관련/설치파일/python-3.10.2-amd64.exe
20220314_python_관련/설치파일/VSCodeUserSetup-x64-1.65.2.exe
score.txt
profile.pickle
study.txt
__TEST__PYTHON_WORKSPACE_python_study_practice_lec_10.py1.stats
*.stats
macro_test/config.ini
*.pyc