20220314_python_관련/설치파일/Git-2.35.1.2-64-bit.exe
20220314_python_관련/설치파일/python-3.10.2-amd64.exe
20220314_python_관련/설치파일/VSCodeUserSetup-x64-1.65.2.exe
score.txt
profile.pickle
study.txt
__TEST__PYTHON_WORKSPACE_python_study_practice_lec_10.py1.stats
*.stats
macro_test/config.ini
*.pyc
custom_dataset/test/김종국/Image_4.jpg
custom_dataset/test/김종국/Image_5.png
custom_dataset/test/김종국/Image_6.jpg
custom_dataset/test/김종국/Image_7.jpg
custom_dataset/test/김종국/Image_8.jpg
custom_dataset/test/김종국/Image_9.jpg
custom_dataset/test/김종국/Image_37.jpg
custom_dataset/test/김종국/Image_38.jpg
custom_dataset/test/김종국/Image_39.jpg
custom_dataset/test/김종국/Image_40.jpg
custom_dataset/test/마동석/Image_4.jpg
custom_dataset/test/마동석/Image_5.png
custom_dataset/test/마동석/Image_6.jpg
custom_dataset/test/마동석/Image_7.jpg
custom_dataset/test/마동석/Image_8.jpg
custom_dataset/test/마동석/Image_9.jpg
custom_dataset/test/마동석/Image_37.png
custom_dataset/test/마동석/Image_38.jpg
custom_dataset/test/마동석/Image_39.jpg
custom_dataset/test/마동석/Image_40.jpg
custom_dataset/train/김종국/Image_1.jpg
custom_dataset/train/김종국/Image_2.jpg
custom_dataset/train/김종국/Image_3.jpg
custom_dataset/train/김종국/Image_10.JPG
custom_dataset/train/김종국/Image_11.jpg
custom_dataset/train/김종국/Image_12.jpg
custom_dataset/train/김종국/Image_13.jpg
custom_dataset/train/김종국/Image_14.jpg
custom_dataset/train/김종국/Image_15.jpg
custom_dataset/train/김종국/Image_16.jpg
custom_dataset/train/김종국/Image_17.jpg
custom_dataset/train/김종국/Image_18.jpg
custom_dataset/train/김종국/Image_19.jpg
custom_dataset/train/김종국/Image_20.jpg
custom_dataset/train/김종국/Image_21.jpg
custom_dataset/train/김종국/Image_22.jpg
custom_dataset/train/김종국/Image_23.jpg
custom_dataset/train/김종국/Image_24.jpg
custom_dataset/train/김종국/Image_25.jpg
custom_dataset/train/김종국/Image_26.jpg
custom_dataset/train/김종국/Image_27.jpg
custom_dataset/train/김종국/Image_28.jpg
custom_dataset/train/김종국/Image_29.jpg
custom_dataset/train/김종국/Image_30.jpg
custom_dataset/train/김종국/Image_31.jpg
custom_dataset/train/김종국/Image_32.jpg
custom_dataset/train/김종국/Image_33.jpg
custom_dataset/train/김종국/Image_34.jpg
custom_dataset/train/김종국/Image_35.jpg
custom_dataset/train/김종국/Image_36.jpg
custom_dataset/train/마동석/Image_1.jpeg
custom_dataset/train/마동석/Image_2.jpg
custom_dataset/train/마동석/Image_3.jpg
custom_dataset/train/마동석/Image_10.jpg
custom_dataset/train/마동석/Image_11.jpg
custom_dataset/train/마동석/Image_12.jpg
custom_dataset/train/마동석/Image_13.jpg
custom_dataset/train/마동석/Image_14.jpg
custom_dataset/train/마동석/Image_15.jpg
custom_dataset/train/마동석/Image_16.jpeg
custom_dataset/train/마동석/Image_17.jpg
custom_dataset/train/마동석/Image_18.jpg
custom_dataset/train/마동석/Image_19.jpg
custom_dataset/train/마동석/Image_20.jpg
custom_dataset/train/마동석/Image_21.jpg
custom_dataset/train/마동석/Image_22.jpg
custom_dataset/train/마동석/Image_23.jpg
custom_dataset/train/마동석/Image_24.jpg
custom_dataset/train/마동석/Image_25.jpg
custom_dataset/train/마동석/Image_26.jpg
custom_dataset/train/마동석/Image_27.jpg
custom_dataset/train/마동석/Image_28.jpg
custom_dataset/train/마동석/Image_29.jpg
custom_dataset/train/마동석/Image_30.jpg
custom_dataset/train/마동석/Image_31.jpg
custom_dataset/train/마동석/Image_32.jpg
custom_dataset/train/마동석/Image_33.jpg
custom_dataset/train/마동석/Image_34.jpg
custom_dataset/train/마동석/Image_35.jpg
custom_dataset/train/마동석/Image_36.jpg
custom_dataset_3p/test/NG/18_02_04_323__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/test/NG/18_11_26_091__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/test/NG/18_29_50_770__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/test/NG/18_34_09_505__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/test/NG/18_35_54_323__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/test/NG/18_44_08_622__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/test/NG/18_44_15_415__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/test/NG/18_54_29_019__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/test/NG/19_07_56_704__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/test/NG/19_14_29_639__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/test/OK/21_11_42_944__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/test/OK/21_11_45_692__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/test/OK/21_11_56_657__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/test/OK/21_11_59_432__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/test/OK/21_12_10_130__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/test/OK/21_12_12_914__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/test/OK/21_12_23_764__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/test/OK/21_12_26_441__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/test/OK/21_12_37_334__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/test/OK/21_12_40_362__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/NG/00_14_02_190__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/00_17_19_180__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/00_22_57_333__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/02_06_42_113__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/03_24_16_743__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/03_46_45_136__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/05_12_04_329__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/05_18_32_709__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/05_21_17_907__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/06_20_35_112__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/13_11_53_552__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/13_30_06_073__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/13_52_24_657__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/14_03_13_240__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/14_30_06_207__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/14_35_08_092__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/14_39_40_283__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/14_43_00_305__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/15_21_17_215__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/15_21_51_356__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/15_34_09_482__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/15_37_23_916__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/15_59_14_708__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/16_14_05_474__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/16_21_35_455__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/16_26_53_598__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/16_36_27_813__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/17_13_29_482__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/17_27_11_176__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/NG/17_53_56_358__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/00_12_17_712__LOWER2_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/01_04_31_973__LOWER2_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/05_13_00_003__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/06_54_09_480__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/07_03_02_805__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/07_30_07_645__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/13_46_44_628__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/15_00_31_997__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/17_06_28_078__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/17_15_26_448__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/18_01_30_354__LOWER2_0_OBJECT__LEFT - 복사본.bmp
custom_dataset_3p/train/OK/18_01_30_354__LOWER2_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/18_11_48_541__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/18_12_37_180__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/19_20_13_861__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/21_03_39_684__LOWER1_0_OBJECT__LEFT.bmp
custom_dataset_3p/train/OK/21_10_06_875__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_10_09_591__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_10_20_388__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_10_23_190__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_10_33_831__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_10_36_664__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_10_47_394__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_10_50_289__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_11_01_433__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_11_03_940__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_11_15_446__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_11_18_319__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_11_29_016__LOWER2_0_OBJECT__LEFT.jpg
custom_dataset_3p/train/OK/21_11_31_872__LOWER2_0_OBJECT__LEFT.jpg
