20220314_python_관련/설치파일/Git-2.35.1.2-64-bit.exe
20220314_python_관련/설치파일/python-3.10.2-amd64.exe
20220314_python_관련/설치파일/VSCodeUserSetup-x64-1.65.2.exe
score.txt
profile.pickle
study.txt
__TEST__PYTHON_WORKSPACE_python_study_practice_lec_10.py1.stats
*.stats
macro_test/config.ini
*.pyc
custom_dataset/test/김종국/Image_4.jpg
custom_dataset/test/김종국/Image_5.png
custom_dataset/test/김종국/Image_6.jpg
custom_dataset/test/김종국/Image_7.jpg
custom_dataset/test/김종국/Image_8.jpg
custom_dataset/test/김종국/Image_9.jpg
custom_dataset/test/김종국/Image_37.jpg
custom_dataset/test/김종국/Image_38.jpg
custom_dataset/test/김종국/Image_39.jpg
custom_dataset/test/김종국/Image_40.jpg
custom_dataset/test/마동석/Image_4.jpg
custom_dataset/test/마동석/Image_5.png
custom_dataset/test/마동석/Image_6.jpg
custom_dataset/test/마동석/Image_7.jpg
custom_dataset/test/마동석/Image_8.jpg
custom_dataset/test/마동석/Image_9.jpg
custom_dataset/test/마동석/Image_37.png
custom_dataset/test/마동석/Image_38.jpg
custom_dataset/test/마동석/Image_39.jpg
custom_dataset/test/마동석/Image_40.jpg
custom_dataset/train/김종국/Image_1.jpg
custom_dataset/train/김종국/Image_2.jpg
custom_dataset/train/김종국/Image_3.jpg
custom_dataset/train/김종국/Image_10.JPG
custom_dataset/train/김종국/Image_11.jpg
custom_dataset/train/김종국/Image_12.jpg
custom_dataset/train/김종국/Image_13.jpg
custom_dataset/train/김종국/Image_14.jpg
custom_dataset/train/김종국/Image_15.jpg
custom_dataset/train/김종국/Image_16.jpg
custom_dataset/train/김종국/Image_17.jpg
custom_dataset/train/김종국/Image_18.jpg
custom_dataset/train/김종국/Image_19.jpg
custom_dataset/train/김종국/Image_20.jpg
custom_dataset/train/김종국/Image_21.jpg
custom_dataset/train/김종국/Image_22.jpg
custom_dataset/train/김종국/Image_23.jpg
custom_dataset/train/김종국/Image_24.jpg
custom_dataset/train/김종국/Image_25.jpg
custom_dataset/train/김종국/Image_26.jpg
custom_dataset/train/김종국/Image_27.jpg
custom_dataset/train/김종국/Image_28.jpg
custom_dataset/train/김종국/Image_29.jpg
custom_dataset/train/김종국/Image_30.jpg
custom_dataset/train/김종국/Image_31.jpg
custom_dataset/train/김종국/Image_32.jpg
custom_dataset/train/김종국/Image_33.jpg
custom_dataset/train/김종국/Image_34.jpg
custom_dataset/train/김종국/Image_35.jpg
custom_dataset/train/김종국/Image_36.jpg
custom_dataset/train/마동석/Image_1.jpeg
custom_dataset/train/마동석/Image_2.jpg
custom_dataset/train/마동석/Image_3.jpg
custom_dataset/train/마동석/Image_10.jpg
custom_dataset/train/마동석/Image_11.jpg
custom_dataset/train/마동석/Image_12.jpg
custom_dataset/train/마동석/Image_13.jpg
custom_dataset/train/마동석/Image_14.jpg
custom_dataset/train/마동석/Image_15.jpg
custom_dataset/train/마동석/Image_16.jpeg
custom_dataset/train/마동석/Image_17.jpg
custom_dataset/train/마동석/Image_18.jpg
custom_dataset/train/마동석/Image_19.jpg
custom_dataset/train/마동석/Image_20.jpg
custom_dataset/train/마동석/Image_21.jpg
custom_dataset/train/마동석/Image_22.jpg
custom_dataset/train/마동석/Image_23.jpg
custom_dataset/train/마동석/Image_24.jpg
custom_dataset/train/마동석/Image_25.jpg
custom_dataset/train/마동석/Image_26.jpg
custom_dataset/train/마동석/Image_27.jpg
custom_dataset/train/마동석/Image_28.jpg
custom_dataset/train/마동석/Image_29.jpg
custom_dataset/train/마동석/Image_30.jpg
custom_dataset/train/마동석/Image_31.jpg
custom_dataset/train/마동석/Image_32.jpg
custom_dataset/train/마동석/Image_33.jpg
custom_dataset/train/마동석/Image_34.jpg
custom_dataset/train/마동석/Image_35.jpg
custom_dataset/train/마동석/Image_36.jpg
